[submodule "workspace/lab0701"]
	path = workspace/lab0701
	url = https://dev.azure.com/rhodevops/20220617-azure-devops/_git/lab07001
[submodule "workspace/lab0802-pipelines-dotnet-core"]
	path = workspace/lab0802-pipelines-dotnet-core
	url = https://dev.azure.com/rhodevops/20220617-azure-devops/_git/lab0802-pipelines-dotnet-core
[submodule "workspace/lab0803-pipelines"]
	path = workspace/lab0803-pipelines
	url = https://dev.azure.com/rhodevops/20220617-azure-devops/_git/lab0803-pipelines
[submodule "workspace/lab0901-pipelines-dotnet-core"]
	path = workspace/lab0901-pipelines-dotnet-core
	url = https://dev.azure.com/rhodevops/20220617-azure-devops/_git/lab0901-pipelines-dotnet-core
